@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap');

@keyframes bounce {
    0%, 10%, 40%, 70%, 100% {transform: translateY(0);} 
    30% {transform: translateY(-8px);} 
    50% {transform: translateY(-5px);} 
 } 
 @keyframes fadeInAnimation {
    0% { opacity: 0; } 
    100% { opacity: 1; }
}

* {
    margin: 0;
}

:root {
    --SOLEN: #FFD029;
    --MERKURIUS: #888888;
    --VENUS: #E7CDCD;
    --JORDEN: #428ED4;
    --MARS: #EF5F5F;
    --JUPITER: #E29468;
    --SATURNUS: #C7AA72;
    --URANUS: #C9D4F1;
    --NEPTUNUS: #7A91A7;
}

body {
    background: rgb(12,22,77);
    background: linear-gradient(90deg, rgba(12,22,77,1) 0%, rgba(25,11,34,1) 100%);
    height: 100vh;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    color: #FFFF;
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 16px;
}

.subtitle {
    font-family: "Lora", serif;
    font-weight: 400;
    color: #FFD029;
    letter-spacing: 10px;
    font-size: 24px;
    margin-bottom: 32px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 72px;
    z-index: 1;
    position: absolute;
    right: 0;
}

/* Searchbar */

.searchbar {
    position: absolute;
    top: 90px;
    left: 130px;
    z-index: 50;
}

#searchParam {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    font-size: 18px;
    font-weight: 200;
    font-style: condensed;
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid white;

    &::placeholder {
        color: white;
    }

   &:focus, &:active {
    outline: none;
   }
}

#searchBtn {
    font-size: 50px;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    color: white;
    background: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }
}


/* Solen */

.solen {
    position: absolute;
    z-index: 1;
}

/* MAIN */

.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
    margin-left: 100px;
}

.main-section {
    display: flex;
    align-items: center;
    width: min-content;
    gap: 60px;
    justify-content: space-between;
    position: absolute;
    z-index: 50;
}

/* Namnpresentation */

.--planet:hover {
    cursor: pointer;
    animation: bounce 3s;
}

.presentName {
    display: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    font-size: 18px;
    font-weight: 200;
    font-style: condensed;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    position: absolute;
    left: 190px;
    top: 260px
}

.merkurius {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: var(--MERKURIUS);
}

/* Planeterna */

.venus {
    width: 26px;
    height: 26px;
    background-color: var(--VENUS);
    border-radius: 100%;
}

.jorden {
    width: 28px;
    height: 28px;
    background-color: var(--JORDEN);
    border-radius: 100%;
}

.mars {
    width: 14px;
    height: 14px;
    background-color: var(--MARS);
    border-radius: 100%;
}

.jupiter {
    width: 188px;
    height: 188px;
    background-color: var(--JUPITER);
    border-radius: 100%;
}

.saturnus {
    width: 144px;
    height: 144px;
    background-color: var(--SATURNUS);
    border-radius: 100%;
}

.uranus {
    width: 66px;
    height: 66px;
    background-color: var(--URANUS);
    border-radius: 100%;
}

.neptunus {
    width: 66px;
    height: 66px;
    background-color: var(--NEPTUNUS);
    border-radius: 100%;
}

/* Footer */

.footer {
    position: absolute;
    place-self: center;
    bottom: -200px;
    
}

/* Planetpresentation */

.newDiv {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    font-size: 18px;
    font-weight: 200;
    font-style: condensed;
    z-index: 100;
    position: absolute;
    line-height: 35px;
    top: 0;
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(12,22,77);
    background: linear-gradient(90deg, rgba(12,22,77,1) 0%, rgba(25,11,34,1) 100%);
    padding: 50px 0 300px 0;
    padding-top: 100px;
}

.planet {
    border-radius: 100%;
    width: 1404px;
    height: 1404px;    
    background-color: rgba(66, 142, 212, 0.06);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: -1200px;
    z-index: 1;
}

.planet-inside {
    border-radius: 100%;
    width: 1340px;
    height: 1340x;
    background-color: rgba(66, 142, 212, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 60px;
    z-index: 2;
}

.planet-inside-planet {
    border-radius: 100%;
    background-color: var(--jorden);
    width: 1278px;
    height: 1278px;
    z-index: 3;
}

.container {
    max-width:650px;
    z-index: 5;
}

.facts-container {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 32px 0;
    margin: 32px 0;
    gap: 32px 0;
}

.fact {
    display: flex;
    flex-direction: column;
}

.--last-fact {
    width: 100px
}

/* Bakgrundsstjärnor */

.star {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    filter: blur(3px);
}

.small-star {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    filter: blur(3px);
}

.--pos1 {
    top: 98px;
    right: 154px;
}

.--pos2 {
    top: 127px;
    right: 256px;
}

.--pos3 {
    top: 126px;
    right: 379px;
}

.--pos4 {
    top: 204px;
    right: 140px;
}

.--pos5 {
    top: 237px;
    right: 230px;
}

.--pos6 {
    top: 210px;
    right: 320px;
}

.--pos7 {
    top: 207px;
    right: 410px;
}

.--pos8 {
    top: 385px;
    right: 109px;
}

.--pos9 {
    top: 385px;
    right: 276px;
}

.--pos10 {
    top: 306px;
    right: 358px;
}

.--pos11 {
    top: 271px;
    right: 463px;
}

.--pos12 {
    top: 448px;
    right: 185px;
}

.--pos13{
    top: 602px;
    right: 115px;
}

.--pos14 {
    top: 833px;
    right: 50px;
}

.--pos15 {
    top: 548px;
    right: 206px;
}

.--pos16 {
    top: 305px;
    right: 508px;
}

.--pos17 {
    top: 302px;
    right: 598px;
}

.--pos18 {
    top: 268px;
    right: 697px;
}

.--pos19 {
    top: 328px;
    right: 860px;
}

.--pos20 {
    top: 255px;
    right: 984px;
}

.--pos21 {
    top: 284px;
    right: 1155px;
}

.--pos22 {
    top: 353px;
    right: 555px;
}

.--pos23 {
    top: 388px;
    right: 508px;
}

.--pos24 {
    top: 596px;
    right: 282px;
}

.--pos25 {
    top: 696px;
    right: 232px;
}

.--pos26 {
    top: 764px;
    right: 300px;
}

.--pos27 {
    top: 671px;
    right: 370px;
}

.--pos28 {
    top: 511px;
    right: 411px;
}

.--pos29 {
    top: 401px;
    right: 387px;
}

.--pos30 {
    top: 436px;
    right: 699px;
}

.--pos31 {
    top: 512px;
    right: 626px;
}

.--pos32 {
    top: 643px;
    right: 523px;
}

.--pos33 {
    top: 764px;
    right: 467px;
}

.--pos34 {
    top: 659px;
    right: 678px;
}

.--pos35 {
    top: 501px;
    right: 775px;
}

.--pos36 {
    top: 811px;
    right: 632px;
}