
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Secular+One&display=swap');

/* Keyframes */

/* Drop planets when page loads */
@keyframes drop {
    0% {transform: translateY(-600px)}
    /* 30%, 60%, 80%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);}  */
    100% {transform: translateY(0);}
 }  

 /* Name of planets animation */
 @keyframes fadeInAnimation {
    0% { opacity: 0; } 
    100% { opacity: 1; }
}

/* Star animation */
@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}




/* CSS reset */
* {
    margin: 0;
}

/* Root variables */
:root {
    --SOLEN: #f7d558;
    --MERKURIUS: #888888;
    --VENUS: #E7CDCD;
    --JORDEN: #428ED4;
    --MARS: #EF5F5F;
    --JUPITER: #E29468;
    --SATURNUS: #C7AA72;
    --URANUS: #C9D4F1;
    --NEPTUNUS: #7A91A7;
}

body {
    background: rgb(12,22,77);
    background: linear-gradient(90deg, rgba(12,22,77,1) 0%, rgba(25,11,34,1) 100%);
    height: 100vh;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    color: #FFFF;
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 16px;
}

.subtitle {
    font-family: "Lora", serif;
    font-weight: 400;
    color: #FFD029;
    letter-spacing: 10px;
    font-size: 24px;
    margin-bottom: 32px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 72px;
    z-index: 1;
    position: absolute;
    right: 0;
}

/* Searchbar */

.searchbar {
    position: absolute;
    top: 220px;
    right: 80px;
    z-index: 50;
}

#searchParam {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    font-size: 18px;
    font-weight: 200;
    font-style: condensed;
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid white;

    &::placeholder {
        color: white;
    }

   &:focus, &:active {
    outline: none;
    &::placeholder {
        color: rgba(255, 255, 255, 0.2);
   }
   }

   
}

#searchBtn {
    font-size: 50px;
    font-weight: 100;
    padding: 0px;
    color: white;
    background: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

/* Error meddelande */

.errorMsg {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 200;
}

/* Solen */

.solen {
    position: absolute;
    z-index: 1;
}

/* MAIN */

.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
    margin-left: 100px;
}

.main-section {
    display: flex;
    align-items: center;
    width: min-content;
    gap: 60px;
    justify-content: space-between;
    position: absolute;
    z-index: 50;
}

/* Namnpresentation */

.--planet:hover {
    cursor: pointer;
}

.presentName {
    display: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    font-size: 18px;
    font-weight: 200;
    font-style: condensed;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    position: absolute;
    left: 190px;
    top: 260px
}

/* Planeterna */

.merkurius {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--MERKURIUS);
    background: linear-gradient(90deg, var(--MERKURIUS) 0%, rgba(0,0,0,1) 100%);
    animation: drop 2s;
    animation-fill-mode: backwards;
}

.venus {
    width: 26px;
    height: 26px;
    background: var(--VENUS);
    background: linear-gradient(90deg, var(--VENUS) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50%;
    animation: drop 2s;
    animation-delay: 150ms;
    animation-fill-mode: backwards;
}

.jorden {
    width: 28px;
    height: 28px;
    background: var(--JORDEN);
    background: linear-gradient(90deg, var(--JORDEN) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50%;
    animation: drop 2s;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

.mars {
    width: 14px;
    height: 14px;
    background: var(--MARS);
    background: linear-gradient(90deg, var(--MARS) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50%;
    animation: drop 2s;
    animation-delay: 450ms;
    animation-fill-mode: backwards;
}

.jupiter {
    width: 188px;
    height: 188px;
    background: var(--JUPITER);
    background: linear-gradient(90deg, var(--JUPITER) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50%;
    animation: drop 2s;
    animation-delay: 600ms;
    animation-fill-mode: backwards;
}

.saturnus {
    width: 144px;
    height: 144px;
    background: var(--SATURNUS);
    background: linear-gradient(90deg, var(--SATURNUS) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50%;
    animation: drop 2s;
    animation-delay: 750ms;
    animation-fill-mode: backwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saturnus-ring {
    width: 218px;
    height: 5.5px;
    border-radius: 50%;
    transform: rotate(0.4turn);
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
}

.uranus {
    width: 66px;
    height: 66px;
    background: var(--URANUS);
    background: linear-gradient(90deg, var(--URANUS) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50%;
    animation: drop 2s;
    animation-delay: 900ms;
    animation-fill-mode: backwards;
}

.neptunus {
    width: 66px;
    height: 66px;
    background: var(--NEPTUNUS);
    background: linear-gradient(90deg, var(--NEPTUNUS) 0%, rgba(0,0,0,1) 100%);
    border-radius: 50%;
    animation: drop 2s;
    animation-delay: 1050ms;
    animation-fill-mode: backwards;
}

/* Footer */

.footer {
    position: absolute;
    place-self: center;
    bottom: -200px;
    
}

/* Planetpresentation */

.newDiv {
    animation: fadeInAnimation 500ms;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    font-size: 18px;
    font-weight: 200;
    font-style: condensed;
    z-index: 100;
    position: absolute;
    line-height: 35px;
    top: 0;
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(12,22,77);
    background: linear-gradient(90deg, rgba(12,22,77,1) 0%, rgba(25,11,34,1) 100%);
    padding: 50px 0 300px 0;
    padding-top: 100px;
}

.planet {
    border-radius: 50%;
    width: 1404px;
    height: 1404px;    
    background-color: rgba(66, 142, 212, 0.06);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: -1200px;
    z-index: 1;
    top: -300px;
}

.planet-inside {
    border-radius: 50%;
    width: 1340px;
    height: 1340x;
    background-color: rgba(66, 142, 212, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 60px;
    z-index: 1;
}

.planet-inside-planet {
    border-radius: 50%;
    background-color: var(--SOLEN);
    width: 1278px;
    height: 1278px;
    z-index: 1;
}

.planet-inside-planet--solen {
    border-radius: 50%;
    background-color: var(--SOLEN);
    width: 1278px;
    height: 1278px;
    z-index: 3;

    &:hover {
        cursor: pointer;
    }
}

.container {
    max-width:650px;
    z-index: 5;
}

.facts-container {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 32px 0;
    margin: 32px 0;
    gap: 32px 0;
}

.fact {
    display: flex;
    flex-direction: column;
}

/* Bakgrundsstjärnor */

.star {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    filter: blur(3px);
}

.small-star {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    filter: blur(3px);
}

.--pos1 {
    top: 98px;
    right: 154px;
    animation: fade 3s infinite;
}

.--pos2 {
    top: 127px;
    right: 256px;
    animation: fade 2s infinite;
}

.--pos3 {
    top: 126px;
    right: 379px;
    animation: fade 4s infinite;
}

.--pos4 {
    top: 204px;
    right: 140px;
    animation: fade 5s infinite;
}

.--pos5 {
    top: 237px;
    right: 230px;
}

.--pos6 {
    top: 210px;
    right: 320px;
    animation: fade 3500ms infinite;
}

.--pos7 {
    top: 207px;
    right: 410px;
    animation: fade 6700ms infinite;
}

.--pos8 {
    top: 385px;
    right: 109px;
    animation: fade 2800ms infinite;
}

.--pos9 {
    top: 385px;
    right: 276px;
    animation: fade 7950ms infinite;
}

.--pos10 {
    top: 306px;
    right: 358px;
    animation: fade 3640ms infinite;
}

.--pos11 {
    top: 271px;
    right: 463px;
    animation: fade 2s infinite;
}

.--pos12 {
    top: 448px;
    right: 185px;
    animation: fade 4510ms infinite;
}

.--pos13{
    top: 602px;
    right: 115px;
    animation: fade 3710ms infinite;
}

.--pos14 {
    top: 833px;
    right: 50px;
    animation: fade 1810ms infinite;
}

.--pos15 {
    top: 548px;
    right: 206px;
    animation: fade 1870ms infinite;
}

.--pos16 {
    top: 305px;
    right: 508px;
    animation: fade 3050ms infinite;
}

.--pos17 {
    top: 302px;
    right: 598px;
    animation: fade 2600ms infinite
}

.--pos18 {
    top: 268px;
    right: 697px;
    animation: fade 3200ms infinite;
}

.--pos19 {
    top: 328px;
    right: 860px;
    animation: fade 4600ms infinite
}

.--pos20 {
    top: 255px;
    right: 984px;
    animation: fade 2300ms infinite
}

.--pos21 {
    top: 284px;
    right: 1155px;
    animation: fade 3600ms infinite
}

.--pos22 {
    top: 353px;
    right: 555px;
    animation: fade 4240ms infinite
}

.--pos23 {
    top: 388px;
    right: 508px;
    animation: fade 2340ms infinite
}

.--pos24 {
    top: 596px;
    right: 282px;
    animation: fade 6s infinite;
}

.--pos25 {
    top: 696px;
    right: 232px;
}

.--pos26 {
    top: 764px;
    right: 300px;
    animation: fade 3700ms infinite;
}

.--pos27 {
    top: 671px;
    right: 370px;
    animation: fade 4s infinite;
}

.--pos28 {
    top: 511px;
    right: 411px;
    animation: fade 1240ms infinite
}

.--pos29 {
    top: 401px;
    right: 387px;
    animation: fade 3700ms infinite;
}

.--pos30 {
    top: 436px;
    right: 699px;
    animation: fade 9240ms infinite
}

.--pos31 {
    top: 512px;
    right: 626px;
    animation: fade 4240ms infinite
}

.--pos32 {
    top: 643px;
    right: 523px;
    animation: fade 5740ms infinite
}

.--pos33 {
    top: 764px;
    right: 467px;
    animation: fade 2370ms infinite
}

.--pos34 {
    top: 659px;
    right: 678px;
    animation: fade 3700ms infinite;
}

.--pos35 {
    top: 501px;
    right: 775px;
    animation: fade 3770ms infinite
}

.--pos36 {
    top: 811px;
    right: 632px;
    animation: fade 4s infinite;
}
